html {
  height: 390% !important;
  overflow: hidden !important;
}

body {
  color: var(--text-color) !important;
  overflow: hidden !important;
  height: 26% !important;
  background-color: var(--bg-color) !important;
}

#app {
  height: 100% !important;
}

#app>div {
  height: 100% !important;
}

.about-container {
  height: 100% !important;
  overflow-y: scroll !important;
  scrollbar-width: thin !important;
  scrollbar-color: var(--sub-color) transparent !important;
}

.letter.incorrect {
  color: var(--incorrect-letter-color) !important;

}

.letter.correct {
  color: var(--text-color) !important;
}

.letter.normal {
  color: var(--sub-color) !important;
}

.letter.extra {
  color: var(--extra-letter-color) !important;
}

.visible {
  color: var(--caret-color) !important;
}

.settings-modal {
  background-color: #00000000 !important;
}

.settings-window {
  height: auto !important;
  background-color: var(--bg-color) !important;
  border: 4px solid var(--sub-alt-color) !important;
  border-radius: var(--roundness) !important;
  color: var(--text-color) !important;
}

.close-window-btn {
  background-color: var(--sub-alt-color) !important;
  color: var(--sub-color) !important;
}

.settings-topbar {
  color: var(--sub-color) !important;
}

.letter.spacer {
  color: var(--sub-color) !important;
}

.settings-content {
  padding-bottom: 50px !important;
}

.divider {
  margin: .7rem 0 !important;
}

.footer {
  justify-content: left !important;
  margin-left: 1.5rem !important;
  width: 4rem !important;

}

#wrapper>.settings-gear-btn {
  margin-bottom: .5rem !important;
  top: 82% !important;
}

.footer>.settings-gear-btn {
  background-color: var(--sub-alt-color) !important;
}

.difficulty-cards {
  margin-bottom: 0px !important;
}

.linkBox {
  margin-top: 0px !important;
}

.linkBox>form {
  margin-top: 0px !important;
  background-color: var(--sub-alt-color) !important;
  border-color: var(--sub-color) !important;
  border-radius: 12px !important;
}

.redirect>a {
  color: var(--sub-color) !important;
}

#email {
  background-color: var(--sub-alt-color) !important;
}

#password {
  background-color: var(--sub-alt-color) !important;
}

#app>div>div>form>div>div>div>button {
  color: var(--text-color) !important;
}

input {
  background-color: transparent !important;
  color: var(--text-color) !important;
  border-radius: var(--roundness) !important;
}

input::placeholder {
  color: var(--sub-color) !important;
}

.home-container {
  padding-top: 0px !important;
}

#app>div>header {
  height: 44px;
}

#typing-area {
  padding-top: 0px;
}

#skip-btn {
  top: 60px !important;
  color: var(--sub-color) !important;
}

.card-icon {
  color: transparent !important;
  text-shadow: var(--sub-color) 0px 0px 0px !important;
}

.aligned-icons {
  color: var(--sub-color) !important;
}

.text {
  color: var(--text-color) !important;
}

.informational {
  color: var(--text-color) !important;
}

.toggle-button {
  color: var(--text-color) !important;
  background-color: var(--sub-alt-color) !important;
}

.toggle-button.toggle-on {
  background-color: var(--main-color) !important;
  color: var(--bg-color) !important;
}

.toggle-mode>button {
  color: var(--text-color) !important;
}


.start-button {
  border-left-color: var(--main-color) !important;
}

.informational>a {
  color: var(--sub-color) !important;
}

#submit-btn {
  background-color: var(--sub-alt-color) !important;
  color: var(--text-color) !important;
}
