html {
  overflow: hidden !important;
}

body {
  background-color: var(--bg-color);
}

input {
  background-color: var(--sub-alt-color) !important;
  color: var(--text-color) !important;
  border-radius: var(--roundness) !important;
}

input::placeholder {
  color: var(--sub-color) !important;
}

.letter.incorrect {
  color: var(--incorrect-letter-color) !important;

}

.letter.correct {
  color: var(--text-color) !important;
}

.letter.normal {
  color: var(--sub-color) !important;
}

.letter.extra {
  color: var(--extra-letter-color) !important;
}

.visible {
  color: var(--caret-color) !important;
}

.settings-modal {
  background-color: #00000000 !important;
}

.settings-window {
  height: auto !important;
  background-color: var(--bg-color) !important;
  border: 4px solid var(--sub-alt-color) !important;
  border-radius: var(--roundness) !important;
  color: var(--text-color) !important;
}

.close-window-btn {
  background-color: var(--sub-alt-color) !important;
  color: var(--sub-color) !important;
}

.settings-topbar {
  color: var(--sub-color) !important;
}

.letter.spacer {
  color: var(--sub-color) !important;
}

.settings-content {
  padding-bottom: 50px !important;
}

.settings-gear-btn {
  top: 82% !important;
}

.linkBox>form {
  margin-top: 30px;
}


#app>header {
  height: 50px;
}

#typing-area {
  padding-top: 0px;
}

#skip-btn {
  top: 60px !important;
  color: var(--sub-color) !important;
}

body {
  overflow: hidden !important;
  height: 100% !important;
}

#wrapper {
  padding-top: -40px !important;
}

.aligned-icons {
  color: var(--sub-color) !important;
}

.text {
  color: var(--text-color) !important;
}

.informational {
  color: var(--text-color) !important;
}

body {
  color: var(--text-color) !important;
}

.toggle-mode>button {
  color: var(--text-color) !important;
}

.start-button {
  border-left-color: var(--main-color) !important;
}

.informational>a {
  color: var(--sub-color) !important;
}

#submit-btn {
  background-color: var(--sub-alt-color) !important;
  color: var(--text-color) !important;
}
